In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, isnull, count, when, isnan, mean, round, trim, ltrim, rtrim, regexp_replace
import pyspark.pandas as ps

spark = SparkSession.builder.getOrCreate()

df = spark.read.csv('C:/Users/Ivan/Downloads/Titanic-Dataset.csv', header=True, inferSchema=True)


#print(df.show())

na_counts = df.select([count(when(isnull(c) | isnan(c),c)).alias(c) for c in df.columns])
na_counts.show()

average_age = df.select(mean(col("Age"))).collect()[0][0]
print(average_age)

df_filled = df.fillna(value={'Age': average_age})
#df_filled.show()

df_age_formatted = df_filled.withColumn('Age', col('Age').cast('integer'))
#df_age_formatted.show()

df_fare_formatted = df_age_formatted.withColumn('Fare', round(col('Fare'),2))
#df_fare_formatted.show()

df_name_formatted = df_fare_formatted.withColumn("Name", regexp_replace(col("Name"), r"[\u200B-\u200D\uFEFF]", ""))
df_name_formatted.show()

df_cleaned = df_name_formatted.withColumn("Name", regexp_replace(col("Name"), u"\u00A0", ""))
df_cleaned.show()

df_cleaned = df_cleaned.withColumn("Name", regexp_replace(col("Name"), u"\u200B", ""))

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|          0|       0|     0|   0|  0|177|    0|    0|     0|   0|  687|       2|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+

29.69911764705882
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-----+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket| Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-----+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171| 7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.28|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282| 7.93| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803| 53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35|    0|    0|          373450| 8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male| 29|    0|    0|          330877| 8.46| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male| 54|    0|    0|           17463|51.86|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|  2|    3|    1|          349909|21.08| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female| 27|    0|    2|          347742|11.13| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female| 14|    1|    0|          237736|30.07| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|  4|    1|    1|         PP 9549| 16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female| 58|    0|    0|          113783|26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male| 20|    0|    0|       A/5. 2151| 8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male| 39|    1|    5|          347082|31.28| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female| 14|    0|    0|          350406| 7.85| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female| 55|    0|    0|          248706| 16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|  2|    4|    1|          382652|29.13| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male| 29|    0|    0|          244373| 13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female| 31|    1|    0|          345763| 18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female| 29|    0|    0|            2649| 7.23| NULL|       C|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-----+-----+--------+
only showing top 20 rows

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-----+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket| Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-----+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171| 7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.28|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282| 7.93| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803| 53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35|    0|    0|          373450| 8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male| 29|    0|    0|          330877| 8.46| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male| 54|    0|    0|           17463|51.86|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|  2|    3|    1|          349909|21.08| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female| 27|    0|    2|          347742|11.13| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female| 14|    1|    0|          237736|30.07| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|  4|    1|    1|         PP 9549| 16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female| 58|    0|    0|          113783|26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male| 20|    0|    0|       A/5. 2151| 8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male| 39|    1|    5|          347082|31.28| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female| 14|    0|    0|          350406| 7.85| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female| 55|    0|    0|          248706| 16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|  2|    4|    1|          382652|29.13| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male| 29|    0|    0|          244373| 13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female| 31|    1|    0|          345763| 18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female| 29|    0|    0|            2649| 7.23| NULL|       C|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-----+-----+--------+
only showing top 20 rows